
<h2><%=@post.title%></h2>
<h3><%=@post.content%></h3>

<ul>
<%= @post.categories.each do |category|%>
  <li> <%= category.name%></li>
  <%end%>

<h4>Comments:</h4>
  <%=@post.comments.each do |comment|%>
  <%if comment.user%>
    <li> <%= comment.user.username + " says: " + comment.content%></li>
    <%end%>
  <%end%>

<h4>Users:</h4>
  <%= @post.users.uniq.each do |user|%>
  <li><%= link_to user.username, user_path(user)%></li>
  <%end%>

<%=form_for @comment do |c| %>
<%= c.hidden_field :post_id %>
<%= c.text_field :content %>
<%= c.collection_select :user_id, User.all, :id, :username %>
<%= c.fields_for :user, @comment.build_user do |user_attributes| %>
<%= user_attributes.text_field :username %>

<% end %>

<%= c.submit %>
<% end %>

</ul>
